@use '../utils/' as *;

.header {
  padding: $header-padding 100px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  nav {
    color: $color-primary;

    display: flex;
    flex-direction: row;
  }
  a {
    &:hover, &.active {
      text-decoration: underline;
    }
    margin-left: 2em;
  }
}
