$color-primary: #ff6060;
$color-accent: #f6f6f6;

$font-primary: 'Montserrat', sans-serif;

$header-height: 80px;

$footer-height: 209px;
$footer-color: black;

$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);