@use '../utils/' as *;

.home {
  &__featuredPicture {
    &::before {
      content: '';

      background-color: rgba(0, 0, 0, 0.3);
      border-radius: nth($border-radius, 1);

      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }
    height: $home-featuredPicture-height;
    margin: 1em 0;

    background: center url('../../assets/home-featuredPicture.jpg');
    background-size: cover;
    border-radius: nth($border-radius, 1);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {

      color: white;
      font-weight: 500;
      font-size: 48px;
      line-height: 142.6%;

      z-index: 1;
    }
  }
}
